/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #009688;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

main h2 {
    margin: 15px;
    text-align: left;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('../images/introshot.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
}

img {
    max-width: 400px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main {
    padding: 40px 0;
}

section {
    padding: 40px 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.attraction {
    margin-bottom: 20px;
}

footer {
    background: #009688;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


main p {

    margin: 15px;
}